{% extends 'tem.html' %}
{% block ftp %}
        <div class="right_col" role="main">

            <div class="clearfix"></div>

            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                          <h2>修改用户</h2>
                          <div class="clearfix"></div>
                          <form action="/user_admin/update_user/" method="post">
                          {% csrf_token %}
                              <div class="form-group">
                                <label for="exampleInputEmail1">用户ID</label>
                                  {% for user_i in user_info %}
                                <input  class="form-control" id="exampleInputEmail1" placeholder="Email" value="{{ user_i.id }}" name="user_id" readonly>
                              </div>
                                      <div class="form-group">
                                <label for="exampleInputPassword1">用户名</label>
                                <input  class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{ user_i.user_name }}" name="user_name" readonly>
                              </div>
                                      <div class="form-group">
                                <label for="exampleInputPassword1">用户密码</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="user_pwd" value="{{ user_i.user_pwd }}">
                              </div>
                              {% endfor %}


                              <div class="form-group">
                                <label for="exampleInputFile">授权目录</label>
                                  <p><select  multiple="multiple" size="5" name="user_ower_project">
                                      {% for user_project_i in user_project %}
                                      <option value="{{ user_project_i.id }}">{{ user_project_i.project_name }}</option>
                                      {% endfor %}
                                  </select></p>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="s_admin">设置为管理员
                                </label>
                              </div>
                              <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
{% endblock %}
        <!-- /page content -->
