{% extends 'tem.html' %}
{% block ftp %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>程序说明文档</h3>
              </div>


            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>文件管理</h2>
                    <div class="clearfix"></div>
                      a、在上传过程中，尤其是大文件上传需要等待页面下载地址、文件md5值产生才表示上传完成<br>
                      b、如果同一天同一个项目两个帐号上传相同名字的文件，最终以最后一个帐号上传为准<br>
                      c、程序最开始是上传文件后会自动计算md5值，对于大文件上传容易导致内存异常，故取消自动计算md5值
                      d、更新文件结果列表只显示最近10条记录
                      e、管理员可以进行条件筛选查看所有上传文件列表
                      f、只有管理员可以看所有的上传结果，非管理员只能查看自己上传的文件

                  </div>
                    <div class="x_title">
                    <h2>数据库管理</h2>
                    <div class="clearfix"></div>
                        asdfasdf
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}